<response>
  <result>
    <config ptpl="AMER-Regional-Template">
      <devices ptpl="AMER-Regional-Template">
        <entry name="localhost.localdomain" ptpl="AMER-Regional-Template">
          <deviceconfig ptpl="AMER-Regional-Template">
            <system ptpl="AMER-Regional-Template">
              {% include "./panos/ntp.j2 %}
            </system>
          </deviceconfig>
        </entry>
      </devices>
    </config>
  </result>
</response>