{% if interface["ip_addresses"] | length > 0 %}
{% for addr in interface["ip_addresses"] %}
{% if addr["address"] is defined %}
   ip address {{ addr["address"] }}
{% endif %}
{% endfor %}
{% else %}
   no ip address
{% endif %}
{% if interface["enabled"] == false %}
   no shutdown
{% endif %}

