{% if config_context.get("acl", {}).get("definitions", {}).get("named", {}) %}
{% for name, definition in config_context["acl"]["definitions"]["named"].items() %}
ip access-list {{ name }}
{% for entry in definition %}
  {{ entry }}
{% endfor %}
{% endfor %}
{% endif %}
