{% for interface in config_interfaces.items if 'lan' in interface["name"] %}
{% include "./nxos/_svi.j2" %}
{% endfor %}
{% for interface in config_interfaces.items if 'thernet' in interface["name"] %}
{% include "./nxos/_physical.j2" %}
{% endfor %}
{% for interface in config_interfaces.items if 'loop' in interface["name"] | lower %}
{% include "./nxos/_loopback.j2" %}
{% endfor %}
