no password strength-check
username admin password 5 <redacted config>  role network-admin
username ntc password 5 <redacted config>  role network-admin
username ntc passphrase  lifetime 99999 warntime 14 gracetime 3

