router ospf {{ ospf_state.process_id }}
{% if ospf_state.router_id %}
  router-id {{ ospf_state.router_id }}
{% endif %}
{% if config_context["ospf"].get("reference_bandwidth") %}
  auto-cost reference-bandwidth {{ config_context["ospf"]["reference_bandwidth"] }} Mbps
{% endif %}
