{% set dns = config_context.get("dns", {}) %}
{% if not dns.get("name_servers") %}
no ip domain lookup
{% endif %}
{% if dns.get("name_servers") %}
ip name-server {{ dns["name_servers"] | join(" ") }}
{% endif %}
ip domain name {{ dns.get("domain", "ntc.com") }}
