{% for interface in devices[0]["interfaces"] %}
{% if 'Loop' in interface["name"] %}
{% include "./ios/_loopback.j2" %}
{% endif %}
{% endfor %}
{% for interface in devices[0]["interfaces"] %}
{% if 'Loop' not in interface["name"] %}
{% include "./ios/_physical.j2" %}
{% endif %}
{% endfor %}

