{% for interface in config_interfaces.items if 'Loop' in interface["name"] %}
{% include "./ios/_loopback.j2" %}
{% endfor %}
{% for interface in config_interfaces.items if 'Loop' not in interface["name"] %}
{% include "./ios/_physical.j2" %}
{% endfor %}
