{% for interface in config_interfaces.items if 'ge-' in interface["name"] %}
{% include "./junos/_physical.j2" %}
{% endfor %}
{% for interface in config_interfaces.items if 'lo' in interface["name"] %}
{% include "./junos/_loopback.j2" %}
{% endfor %}
