set system login class super-user-local idle-timeout 3600
set system login class super-user-local permissions all
set system login user ntc uid 2000
set system login user ntc class super-user-local
set system login user ntc authentication encrypted-password "$6$SMc6x4tb$Tc5YB7j/aFopl83C/a8w0ULBphIwSz8ckMgANOC8.2p9qJWKwKat1VKRWKTYihtYEu9W1aRN0PN35aOTYLmph."

