set snmp view system-include oid .1 include
{% for community in devices[0]["config_context"]["snmp"] %}
set snmp community {{ community["name"] }} view system-include
set snmp community {{ community["name"] }} authorization {{ community["role"] }}
{% endfor %}

