set system syslog user * any emergency
deactivate system syslog user *
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
{% if config_context["syslog"] is defined %}
{% for server in config_context["syslog"]["servers"] %}
{% set port = server.get("port", config_context["syslog"].get("port")) %}
set system syslog host {{ server["ip"] }} any any
{% if port %}
set system syslog host {{ server["ip"] }} port {{ port }}
{% endif %}
{% endfor %}
{% endif %}

